.homeBG {
   background: rgb(227,230,230);
}

.home {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 1500px;
    min-height: 2000px;
}

.home img {
   object-fit: cover;
}

/* ---------- slideshow ------------------------------------------------------------------ */

.backgroundSlideshow {
    width: 9000px;
    height: 800px;
    position: relative;
    left: 3750px;
    display: flex;
    transition: 0.5s;
}

.slideElement {
    width: 1500px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}

.slideElement > div {
    z-index: 20;
    padding-top: 70px;
    color: #fff;
}

.slideElement > div > h1 {
    font-size: 4rem;
    font-weight: bolder;
}

.slideElement > img {
    position: absolute;
    opacity: 1.5;
    object-fit: cover;
}

.slideShowDarkOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
}

.slideShowLightOverlayGradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    background: linear-gradient(to bottom, transparent, rgb(227,230,230));
    z-index: 10;
}

.chevronLeft, .chevronRight {
    position: absolute;
    z-index: 20;
    color: #fff;
    height: 250px;
    width: 70px;
}

.chevronLeft:hover, .chevronRight:hover {
    border: 1px solid #fff;
}

.chevronLeft {
    left: 0;
    color: rgba(18, 25, 33, 1);
}

.chevronRight {
    right: 0;
}

/* ---------- adverts ------------------------------------------------------------------ */

.adverts {
    position: absolute;
    left: 25px;
    width: 1450px;
    min-height: 800px;
    top: 250px;
    z-index: 30;
 }

/* ---------- firstArea ------------------------------------------------------------------ */

 .firstArea, .secondArea {
    height: 420px;
    display: flex;
    gap: 17px;
 }

 .firstArea > div, .secondArea > div {
    width: 350px;
    height: 100%;
 }
 
 .firstArea1 {
   padding: 20px;
   position: relative;
   background: #fff;
 }

 .firstArea1 h2 {
    font-size: 1.7rem;
 }

 .firstArea1 > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .firstArea1 > div > div {
    margin: 5px 0;
 }

 .firstArea1 > div > div > div {
    display: flex;
    align-items: center;
    height: 30px;
 }

 .firstArea1 > div > div > div > span {
    background: rgb(204,12,57);
    height: 25px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 5px;
 }

 .firstArea1 > div > div > div > div {
    color: rgb(204,12,57);
    font-weight: bold;
 }

 .firstArea1 > a {
    position: absolute;
    bottom: 20px;
    font-size: 1.1rem;
    color: #07c;
    text-decoration: none;
 }

 .firstArea1 > a:hover {
    color: #00f;
 }

 .firstArea3 {
    padding: 20px 20px 20px 20px;
    position: relative;
    background: #fff;
 }

 .firstArea3 h2 {
    font-size: 1.7rem;
 }

.firstArea3 img {
    margin-top: 5px;
}

 .firstArea3 > a {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.1rem;
    color: #07c;
    text-decoration: none;
 }

 .firstArea3 > a:hover {
    color: #00f;
 }

 .firstArea4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   }
   
   .firstArea4 > div:first-child {
      padding: 20px 20px 20px 20px;
      width: 100%;
      height: 140px;
      background: #fff;
      overflow: hidden;
 }

 .firstArea4 > div:first-child > h2 {
    font-size: 1.7rem;
    margin-bottom: 4px;
 }

 .firstArea4 > div:first-child > button {
    width: 100%;
    height: 30px;
    margin-top: 17px;
    background: rgba(254, 216,19, 1);
    border-radius: 30px;
    border: none;
 }

 .firstArea4 > div:nth-child(2) {
    background: rgb(108,155,137);
    width: 300px;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
 }

 .firstArea4 > div:nth-child(2) h3 {
   font-size: 1.5rem;
 }

 .firstArea4 > div:nth-child(2) img {
   border-radius: 5px;
   position: relative;
   top: 50px;
   transform: rotate(10deg);
 }

/* ---------- firstArea ------------------------------------------------------------------ */

.secondArea {
   margin-top: 20px;
}

.secondArea > div {
   background: #fff;
}

.secondArea1 {
   padding: 20px 20px 20px 20px;
   position: relative;
   background: #fff;
}

.secondArea1 h2 {
   font-size: 1.7rem;
}

.secondArea1 img {
   margin-top: 5px;
}

.secondArea1 > a {
   position: absolute;
   bottom: 20px;
   left: 20px;
   font-size: 1.1rem;
   color: #07c;
   text-decoration: none;
}

.secondArea1 > a:hover {
   color: #00f;
}

.secondArea2 {
   padding: 20px 20px 20px 20px;
   position: relative;
   background: #fff;
}

.secondArea2 h2 {
   font-size: 1.7rem;
}

.secondArea2 img {
   margin-top: 5px;
}

.secondArea2 > a {
   position: absolute;
   bottom: 20px;
   left: 20px;
   font-size: 1.1rem;
   color: #07c;
   text-decoration: none;
}

.secondArea2 > a:hover {
   color: #00f;
}

.secondArea3 {
   padding: 20px 20px 20px 20px;
   position: relative;
   background: #fff;
}

.secondArea3 h2 {
   font-size: 1.7rem;
}

.secondArea3 img {
   margin-top: 5px;
}

.secondArea3 > a {
   position: absolute;
   bottom: 20px;
   left: 20px;
   font-size: 1.1rem;
   color: #07c;
   text-decoration: none;
}

.secondArea2 > a:hover {
   color: #00f;
}

/* ---------- firstArea ------------------------------------------------------------------ */

.thirdArea {
   height: 280px;
   background: #fff;
   margin-top: 20px;
}

.thirdArea > h2 {
   
}